<h1>Matched Puppy!</h1>


    <p>
      Name: {{fname}}
    </p>
    <img src="{{puppypic}}" alt="Puppy Pic">
    <hr>
    <p>
      Fluffy: {{fluffy}}
    </p>
    <p>
      Energy: {{energy}}
    </p>
